In [8]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer

for i in range(34,46):
    print(i,end=" ")

34 35 36 37 38 39 40 41 42 43 44 45

In [7]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer

for i in range(50):
    print("machinelearning",end=" ")

machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning machinelearning

In [11]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer

for i in range(21,29,2):
    print(i)

21
23
25
27

In [13]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer

for i in range(14,38):
    if i==17:
        continue
    print(i,end=" ")

14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [19]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer

for i in range(85,100):
    if i % 2==0:
        print(i,end=" ")

86 88 90 92 94 96 98

In [37]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer
for i in range(14,38):
    if i % 7==0 and i % 5==0:
        print(i)

35

In [46]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer
for i in range(14,38):
    print(i,end=" ")

14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [57]:
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 

#Answer
for i in range(1,51):
    if i % 3 ==0:
        print("hello")
    if i % 5 ==0:
        print("hi")

hello
hi
hello
hello
hi
hello
hello
hi
hello
hi
hello
hello
hi
hello
hello
hi
hello
hi
hello
hello
hi
hello
hello
hi
hello
hi

In [73]:

#"""
#2*1 = 2
#2*2 = 4
#.
#.
#.
#2*10 = 20
#"""
#Write program to print 2 table like above 

# your Answer

for i in range(1,11):
    print(f"2 x {i} = {2 * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [75]:
for i in range(1,11):
    print(f"14 x {i} = {14 * i}")

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140