# Tuples Simple Questions

In [3]:
'''1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>  '''      
x = [1,2]
y = tuple(x)
print(x)
print(type(x))
print(y)
print(type(y))

[1, 2]
<class 'list'>
(1, 2)
<class 'tuple'>

In [4]:
'''2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)'''
x = ("tuples", 3.2, 1)
y = tuple(x)
print(y)

('tuples', 3.2, 1)

In [6]:
'''3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25 '''
x = 5, 10, 15, 20, 25
y = tuple(x)
print(type(y))
print(y)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

<class 'tuple'>
(5, 10, 15, 20, 25)
5
10
15
20
25

In [10]:
'''4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility '''
        
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
y = "".join(x)
print(y)

volatality

In [12]:
'''5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3] '''
x = (1,2,3)
y = list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [23]:
'''6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd') '''

x = ("a","b","c","d")
y = list(x)
y.remove("c")
x = tuple(y)
print(x)

('a', 'b', 'd')

In [25]:
'''7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9 '''
x = tuple("positions")
print(x)
print(len(x))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [29]:
'''8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3} '''
        
x = ((2, "w"),(3, "r"))
d = {value: key for (key, value) in x}
print(d)

{'w': 2, 'r': 3}

In [33]:
'''9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5) '''
x1 = ("Baskar")
x = (5, 10, 15, 20)
y = list(x)
y1 = list(x1)
y.reverse()
y1.reverse()
print(y1)
print(y)

['r', 'a', 'k', 's', 'a', 'B']
[20, 15, 10, 5]

In [36]:
'''10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15 '''
x = 4, 8, 3
a, b, c = x
sum = a+b+c
print(tuple(x))
print(sum)

(4, 8, 3)
15

In [37]:
'''11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))'''
x = ("Boss", [8, 4, 6], (1, 2, 3))
print(x)

('Boss', [8, 4, 6], (1, 2, 3))

In [39]:
'''12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'> '''
x = ("hello")
y = tuple(x)
print(x)
print(y)
print(type(x))
print(type(y))

hello
('h', 'e', 'l', 'l', 'o')
<class 'str'>
<class 'tuple'>

In [43]:
'''13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r '''

x = ('B', 'a', 's', 'k', 'a', 'r')
y = list(x)
print(y)
print("x[0] is:",y[0])
print("x[5] is:",y[5])

['B', 'a', 's', 'k', 'a', 'r']
x[0] is: B
x[5] is: r

In [49]:
'''14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4 '''
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
y = list(x)
print(y)
print("x[0][3] is:",y[0][3])
print("x[1][1] is:",y[1][1])

['Boss', [8, 4, 6], (1, 2, 3)]
x[0][3] is: s
x[1][1] is: 4

In [51]:
'''15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B '''
x = ('B', 'a', 's', 'k', 'a', 'r')
y = list(x)
print(y)
print("x[-1] is:",y[-1])
print("x[-6] is:",y[-6])

['B', 'a', 's', 'k', 'a', 'r']
x[-1] is: r
x[-6] is: B

In [53]:
'''16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9) '''

x = (1, 12, 123)
y = (4, 9)
z = x + y
w = z * 3
print("z = x + y is:",z)
print("z * 3 is:",w)

z = x + y is: (1, 12, 123, 4, 9)
z * 3 is: (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [55]:
'''17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala '''

x = ('boss', 'sai')
for item in x:
    print("Hello", item)

Hello boss
Hello sai

In [59]:
'''18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3 '''
x = ('a', 'p', 'p', 'l', 'e')
count = x.count('p')
index = x.index('l')
print("Count of p is:",count)
print("Index of l is:",index)

Count of p is: 2
Index of l is: 3

In [61]:
'''19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss') '''
        
x = (1, [9, 8, 7], "boss")
index = x[1].index(7)
x[1][index]=77
print(x)

(1, [9, 8, 77], 'boss')

In [64]:
'''20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99) '''
        
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
slice1 = x[2:5]
slice2 = x[:4]
slice3 = x[4:]
slice4 = x[4:8]
print(x)
print(slice1)
print(slice2)
print(slice3)
print(slice4)
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)